
<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">

            <ul class="media-list tab-pane fade in active">
                <li class="media">

                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="col-xs-4">
                <h4>Customer Comments</h4>
            </div>
            <div class="col-xs-8">
                <form>
                    <h5>
                        Sort by:
                        <input name="orderText" ng-model="orderText">
                    </h5>
                </form>
            </div>
            <ul class="list-unstyled">
                <blockquote ng-repeat="comment in dish.comments | orderBy:orderText">
                    <p>{{comment.rating}} Stars</p>
                    <p> {{comment.comment}}</p>
                    <footer>{{comment.author}}, {{comment.date | date }}</footer>
                </blockquote>
            </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <!-- Task 3: Here you include the code to show the live preview of the comment</p>
                <p>The comment should be shown only when the form contains valid
                    information and is not pristine</p> -->
                <blockquote
                        ng-show="commentForm.author.$valid && commentForm.commentArea.$valid  && !commentForm.$pristine">
                    <p>{{custComment.rating}} Stars</p>
                    <p> {{custComment.comment}}</p>
                    <footer>{{custComment.author}}, {{custComment.date | date }}</footer>
                </blockquote>
            </ul>








            <!--Task 1: Design the form to submit the comments -->
            <form class="form-horizontal" name="commentForm"
                  ng-submit="submitComment()" novalidate>
                <!--  Name  -->
                <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
                               ng-model="custComment.author" required>
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine"
                              class="help-block">Your name is required.</span>
                    </div>
                </div>
                <!-- Rating -->
                <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" ng-model="custComment.rating" name="rating" value="1">1</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="custComment.rating" name="rating" value="2">2</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="custComment.rating" name="rating" value="3">3</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="custComment.rating" name="rating" value="4">4</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="custComment.rating" name="rating" value="5">5</label>
                    </div>
                </div>
                <!-- Comment -->
                <div class="form-group"
                     ng-class="{ 'has-error' : commentForm.commentArea.$error.required && !commentForm.commentArea.$pristine }">
                    <label for="commentArea" class="col-sm-2 control-label">Your Comments</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="commentArea" rows="12"
                                  ng-model="custComment.comment" required></textarea>
                        <span ng-show="commentForm.commentArea.$error.required && !commentForm.commentArea.$pristine"
                              class="help-block">Your comments are required.</span>

                    </div>
                </div>
                <!--<p>Task 2: You need to validate that the user name and comments are entered</p>-->
                <!-- button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit
                            Comment
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


